.options-section {
    background: whitesmoke;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    padding: 10px;
}